<div id="step" class="drawer", style="float:left;clear:left;">
<form id="savestep" name="savestep" action="javascript:savestep('savestep');" method="post"> 
<b><input name="step_num" value="{{ step_num }}" maxlength="3" size="3">
{{ config.name }} :: {{ config.module }}</b><br>
{% for p in config.params.all %}
{{ p.name }}{% if p.required %}<span style="color:red;">*</span>{% endif %}: 
    <input name="{{ p.id }}"{% if p.default %}value="{{ p.default }}"{% endif %}><br>
{% endfor %}
<input type="hidden" name="step_type_id" value="{{ config.id }}">
<input type="submit" value="Add">
</form>
</div>
