<div id="status{{ status.id }}" class="drawer" style="float:left;clear:left;">
<div id="status_display{{ status.id }}">
    <div style="float: left;" class="bold">{{ status.type }}</div>
    {% if user.is_superuser %}
    <div style="float: left; margin-left: 10px; margin-top: 3px;">
        <img class="img_link" src="{{ ADMIN_MEDIA_PREFIX }}img/admin/icon_changelink.gif" onClick="javascript:toggleconfig('status', 'edit', {{ status.id }});">
        <img class="img_link" src="{{ ADMIN_MEDIA_PREFIX }}img/admin/icon_deletelink.gif" onClick="javascript:toggleconfig('status', 'delete', {{ status.id }});">
    </div><br>
    {% endif %}
    {% for p in status.params.all %}
        {{ p.type.name }}: {{ p.val }}<br>
    {% endfor %}
</div>
{% if user.is_superuser %}
<div id="status_edit{{ status.id }}" style="display:none;">
    <form id="status{{ status.id }}" name="savestatus" action="javascript:savestatus('status{{ status.id }}');" method="post"> 
    Edit Form Not Implimented<br>
    <button onClick="javascript:toggleconfig('status', 'display', {{ status.id }});">Cancel</button><br>
    <input type="hidden" name="status_id" value="{{ status.id }}">
    </form>
</div>
<div id="status_delete{{ status.id }}" style="display:none;">
    <div style="float: left;" class="bold">{{ status.num }}: {{ status.type }}</div><br>
    <button onClick="javascript:deleteconfig('status', {{ status.id }});">Confirm Delete</button>
    <button onClick="javascript:toggleconfig('status', 'display', {{ status.id }});">Cancel</button><br>
</div>
{% endif %}
</div>
