{% extends "base.html" %}

{% block title %}XML-RPC Service{% endblock %}

{% block content %}
<p>
    This is an XML-RPC Service that is not meant to be hit directly in
    your browser. You need to invoke it using an XML-RPC Client! See
    <a href="http://www.xmlrpc.com/">http://www.xmlrpc.com/</a> for details.
</p>
<p>
    The following methods are available:
<dl>
{% for method in methods %}
    <dt><label>{{ method.name }}</label></dt>
    <dd>{{ method.help|safe }}</dd>
{% endfor %}
</dl>
{% endblock %}
