{% extends "loki/base.html" %}
{% load loki_tags %}
    {% block script %}
        $("form#addstatus").submit(function() {
            $("div#statuss div#newstatus").load('/ajax/config/status/add/{{ master.id }}/' + this.status.value + '/');
            return false;
        });
        $("form#addscheduler").submit(function() {
            $("div#schedulers div#newscheduler").load('/ajax/config/scheduler/add/{{ master.id }}/' + this.scheduler.value + '/');
            return false;
        });
    {% endblock %}
    {% block drawer_title %}
        {% if master.alive %}Running{% if user.is_superuser %} <a href="{% url loki.views.home master %}?action=reconfig">reconfig/hup</a>
            :: pid {{ master.pid }} :: <a href="{% url loki.views.home master %}?action=stop">Stop</a>{% endif %}
        {% else %}Stopped{% if user.is_superuser %} :: <a href="{% url loki.views.home master %}?action=start">Start</a>{% endif %}{% endif %}
    {% endblock %}
    {% block content %}
        {% block title %}Master: {{ master }}{% endblock %}<br>
        host: {{ master.host }} <a href="http://{{ master.host }}:{{ master.web_port }}">webui</a><br>
        slave/web ports: {{ master.slave_port }}/{{ master.web_port }}<br>
        status:<br>
        <div id="statuss" style="float: left;">
        {% for s in master.status.all %}
        {% status s %}
        {% endfor %}
        <div id="newstatus" style="float: left; clear: left;"/>
        </div><br>
        {% if user.is_superuser %}
            <form id="addstatus" name="addstatus" action="javascript:;" style="clear:left;">
                <select id="status" name="status">
                {% for s in status %}
                    <option value="{{ s.pk }}">{{ s.name }} :: {{ s.module }}</option>
                {% endfor %}
                </select>
                <input type="submit" value="Add Status">
            </form>
        {% endif %}
        <div id="schedulers" style="float: left;">
        {% for s in master.schedulers.all %}
        {% scheduler s %}
        {% endfor %}
        <div id="newscheduler" style="float: left; clear: left;">&nbsp;</div>
        </div><br>
        {% if user.is_superuser %}
            <form id="addscheduler" name="addscheduler" action="javascript:;" style="clear:left;">
                <select id="scheduler" name="scheduler">
                {% for s in scheduler %}
                    <option value="{{ s.pk }}">{{ s.name }} :: {{ s.module }}</option>
                {% endfor %}
                </select>
                <input type="submit" value="Add Scheduler">
            </form>
        {% endif %}
    {% endblock %}
