{% extends "loki/base.html" %}
{% load loki_tags %}
    {% block script %}
        $("form#addstatus").submit(function() {
            $("div#statuss div#newstatus").load('/ajax/config/status/add/{{ master.id }}/' + this.status.value + '/');
            return false;
        });
    {% endblock %}
    {% block drawer_title %}
        {% if master.alive %}Running <a href="/{{ master }}/?action=reconfig">reconfig/hup</a>
            :: pid {{ master.pid }} :: <a href="/{{ master }}/?action=stop">Stop</a>
        {% else %}Stopped :: <a href="/{{ master }}/?action=start">Start</a>{% endif %}
    {% endblock %}
    {% block content %}
        {% block title %}Master: {{ master }}{% endblock %}<br>
        host: {{ master.host }} <a href="http://{{ master.host }}:{{ master.web_port }}">webui</a><br>
        slave/web ports: {{ master.slave_port }}/{{ master.web_port }}<br>
        status:<br>
        <div id="statuss" style="float: left;">
        {% for s in master.status.all %}
        {% status s %}
        {% endfor %}
        <div id="newstatus" style="float: left; clear: left;"/>
        </div><br>
        <form id="addstatus" name="addstatus" action="javascript:;" style="clear:left;">
            <select id="status" name="status">
            {% for s in status %}
                <option value="{{ s.pk }}">{{ s.name }} :: {{ s.module }}</option>
            {% endfor %}
            </select>
            <input type="submit" value="Add Status">
        </form>

    {% endblock %}
