{% extends "loki/base.html" %}
    {% load loki_tags %}
    {% block script %}
        $("form#addstep").submit(function() {
            $("div#steps div#newstep").load('/ajax/config/step/add/{{ slave.id }}/' + this.step.value + '/');
            return false;
        });
    {% endblock %}
    {% block drawer_title %}
        {% if slave.alive %}Running <a href="/{{ slave.master }}/{{ slave }}/?action=reconfig">reconfig/hup</a>
            :: pid {{ slave.pid }} :: <a href="/{{ slave.master }}/{{ slave }}/?action=stop">Stop</a>
        {% else %}Stopped :: <a href="/{{ slave.master }}/{{ slave }}/?action=start">Start</a>{% endif %}
    {% endblock %}

    {% block content %}
        {% block title %}Slave: {{ slave }}{% endblock %}<br>
        host: {{ slave.host }}<br>
        steps:<br>
        <div id="steps" style="float: left;">
        {% for s in slave.steps.all %}
        {% step s %}
        {% endfor %}
        <div id="newstep" style="float: left; clear: left;"/>
        </div><br>
        <form id="addstep" name="addstep" action="javascript:;" style="clear:left;">
            <select id="step" name="step">
            {% for s in steps %}
                <option value="{{ s.pk }}">{{ s.name }} :: {{ s.module }}</option>
            {% endfor %}
            </select>
            <input type="submit" value="Add Step">
        </form>
    {% endblock %}
